In [1]:
import pandas as pd

import keras
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D

from sklearn.model_selection import train_test_split

import numpy as np

Using TensorFlow backend.

In [2]:
data_feature = pd.read_csv("features_100000_Random_Random_1589134303.csv", header = None)
data_target = pd.read_csv("targets_100000_Random_Random_1589134303.csv", header = None)

# data_feature = pd.read_csv("features_100000_Random_Random_eachstep1589147854.csv", header = None)
# data_target = pd.read_csv("targets_100000_Random_Random_eachstep1589147854.csv", header = None)

# data_feature = pd.read_csv("features_10000_Random_Random_eachstep1589140617.csv", header = None)
# data_target = pd.read_csv("targets_10000_Random_Random_eachstep1589140617.csv", header = None)

In [63]:
data_feature.shape

(100000, 42)

In [64]:
data_target.shape

(100000, 1)

In [65]:
# model.add(Dropout(0.2))

In [66]:
# model = Sequential()
# model.add(Conv2D(64, (2, 2), input_shape=(6, 7, 1)))
# model.add(Activation('relu'))

# model.add(Flatten())
# model.add(Dense(64))
# model.add(Activation('relu'))

# model.add(Dense(1))



# # opt = keras.optimizers.RMSprop(learning_rate=0.0001)
# # opt = keras.optimizers.SGD(lr=0.001, decay=1e-4)
# # opt = keras.optimizers.Adadelta()
# opt = keras.optimizers.Adagrad()
# # opt = keras.optimizers.Adam()

# model.compile(loss='mean_squared_error',
#               optimizer=opt,
#               metrics=['accuracy'])

In [67]:
model = Sequential()
model.add(Conv2D(256, (4, 4), input_shape=(6, 7, 1)))
model.add(Activation('relu'))
model.add(Conv2D(64, (2, 2), input_shape=(6, 7, 1)))
model.add(Activation('relu'))

model.add(Flatten())
model.add(Dense(64))
model.add(Dropout(0.2))
model.add(Activation('relu'))
model.add(Dense(32))
model.add(Dropout(0.2))
model.add(Activation('relu'))

model.add(Dense(1))

opt = keras.optimizers.Adam()

model.compile(loss='mean_squared_error',
              optimizer=opt,
              metrics=['accuracy'])

In [68]:
f_np = np.array(data_feature)
t_np = np.array(data_target)

f_np = f_np.reshape(f_np.shape[0], 6, 7, 1)

X_train, X_test, y_train, y_test = train_test_split(f_np, t_np)



model.fit(X_train, y_train, epochs=100, verbose=1, validation_data=(X_test, y_test))

Train on 75000 samples, validate on 25000 samples
Epoch 1/100
75000/75000 [==============================] - 8s 108us/step - loss: 0.2457 - accuracy: 0.7776 - val_loss: 0.0427 - val_accuracy: 0.9680
Epoch 2/100
75000/75000 [==============================] - 8s 109us/step - loss: 0.0439 - accuracy: 0.9772 - val_loss: 0.0316 - val_accuracy: 0.9770
Epoch 3/100
75000/75000 [==============================] - 9s 120us/step - loss: 0.0304 - accuracy: 0.9881 - val_loss: 0.0123 - val_accuracy: 0.9908
Epoch 4/100
75000/75000 [==============================] - 10s 136us/step - loss: 0.0257 - accuracy: 0.9920 - val_loss: 0.0047 - val_accuracy: 0.9966
Epoch 5/100
75000/75000 [==============================] - 7s 87us/step - loss: 0.0232 - accuracy: 0.9942 - val_loss: 0.0115 - val_accuracy: 0.9925
Epoch 6/100
75000/75000 [==============================] - 8s 104us/step - loss: 0.0226 - accuracy: 0.9944 - val_loss: 0.0082 - val_accuracy: 0.9943
Epoch 7/100
75000/75000 [==============================] - 11s 147us/step - loss: 0.0209 - accuracy: 0.9959 - val_loss: 0.0071 - val_accuracy: 0.9952
Epoch 8/100
75000/75000 [==============================] - 12s 154us/step - loss: 0.0211 - accuracy: 0.9957 - val_loss: 0.0084 - val_accuracy: 0.9949
Epoch 9/100
75000/75000 [==============================] - 10s 134us/step - loss: 0.0204 - accuracy: 0.9964 - val_loss: 0.0021 - val_accuracy: 0.9982
Epoch 10/100
75000/75000 [==============================] - 10s 134us/step - loss: 0.0199 - accuracy: 0.9964 - val_loss: 0.0025 - val_accuracy: 0.9983
Epoch 11/100
75000/75000 [==============================] - 10s 136us/step - loss: 0.0196 - accuracy: 0.9967 - val_loss: 0.0026 - val_accuracy: 0.9982
Epoch 12/100
75000/75000 [==============================] - 13s 175us/step - loss: 0.0193 - accuracy: 0.9969 - val_loss: 0.0017 - val_accuracy: 0.9988
Epoch 13/100
75000/75000 [==============================] - 10s 136us/step - loss: 0.0191 - accuracy: 0.9972 - val_loss: 0.0025 - val_accuracy: 0.9983
Epoch 14/100
75000/75000 [==============================] - 10s 137us/step - loss: 0.0191 - accuracy: 0.9971 - val_loss: 0.0017 - val_accuracy: 0.9986
Epoch 15/100
75000/75000 [==============================] - 10s 132us/step - loss: 0.0199 - accuracy: 0.9962 - val_loss: 0.0071 - val_accuracy: 0.9958
Epoch 16/100
75000/75000 [==============================] - 9s 121us/step - loss: 0.0174 - accuracy: 0.9982 - val_loss: 0.0015 - val_accuracy: 0.9986
Epoch 17/100
75000/75000 [==============================] - 8s 113us/step - loss: 0.0188 - accuracy: 0.9972 - val_loss: 0.0031 - val_accuracy: 0.9982
Epoch 18/100
75000/75000 [==============================] - 10s 138us/step - loss: 0.0181 - accuracy: 0.9976 - val_loss: 0.0014 - val_accuracy: 0.9985
Epoch 19/100
75000/75000 [==============================] - 11s 148us/step - loss: 0.0188 - accuracy: 0.9970 - val_loss: 0.0018 - val_accuracy: 0.9984
Epoch 20/100
75000/75000 [==============================] - 12s 156us/step - loss: 0.0173 - accuracy: 0.9982 - val_loss: 0.0018 - val_accuracy: 0.9986
Epoch 21/100
75000/75000 [==============================] - 12s 165us/step - loss: 0.0179 - accuracy: 0.9976 - val_loss: 0.0025 - val_accuracy: 0.9981
Epoch 22/100
75000/75000 [==============================] - 11s 149us/step - loss: 0.0185 - accuracy: 0.9973 - val_loss: 0.0019 - val_accuracy: 0.9984
Epoch 23/100
75000/75000 [==============================] - 11s 147us/step - loss: 0.0181 - accuracy: 0.9978 - val_loss: 0.0033 - val_accuracy: 0.9976
Epoch 24/100
75000/75000 [==============================] - 10s 139us/step - loss: 0.0178 - accuracy: 0.9978 - val_loss: 0.0020 - val_accuracy: 0.9986
Epoch 25/100
75000/75000 [==============================] - 10s 131us/step - loss: 0.0189 - accuracy: 0.9971 - val_loss: 0.0027 - val_accuracy: 0.9980
Epoch 26/100
75000/75000 [==============================] - 10s 129us/step - loss: 0.0179 - accuracy: 0.9975 - val_loss: 0.0019 - val_accuracy: 0.9988
Epoch 27/100
75000/75000 [==============================] - 13s 176us/step - loss: 0.0176 - accuracy: 0.9981 - val_loss: 0.0016 - val_accuracy: 0.9988
Epoch 28/100
75000/75000 [==============================] - 11s 149us/step - loss: 0.0180 - accuracy: 0.9976 - val_loss: 0.0022 - val_accuracy: 0.9981
Epoch 29/100
75000/75000 [==============================] - 11s 149us/step - loss: 0.0179 - accuracy: 0.9977 - val_loss: 0.0028 - val_accuracy: 0.9987
Epoch 30/100
75000/75000 [==============================] - 11s 149us/step - loss: 0.0184 - accuracy: 0.9974 - val_loss: 0.0016 - val_accuracy: 0.9988
Epoch 31/100
75000/75000 [==============================] - 13s 175us/step - loss: 0.0176 - accuracy: 0.9975 - val_loss: 0.0025 - val_accuracy: 0.9982
Epoch 32/100
75000/75000 [==============================] - 12s 161us/step - loss: 0.0177 - accuracy: 0.9979 - val_loss: 0.0016 - val_accuracy: 0.9989
Epoch 33/100
75000/75000 [==============================] - 11s 145us/step - loss: 0.0173 - accuracy: 0.9979 - val_loss: 0.0024 - val_accuracy: 0.9985
Epoch 34/100
75000/75000 [==============================] - 10s 137us/step - loss: 0.0178 - accuracy: 0.9978 - val_loss: 0.0015 - val_accuracy: 0.9990
Epoch 35/100
75000/75000 [==============================] - 10s 133us/step - loss: 0.0178 - accuracy: 0.9976 - val_loss: 0.0029 - val_accuracy: 0.9982
Epoch 36/100
75000/75000 [==============================] - 10s 127us/step - loss: 0.0177 - accuracy: 0.9977 - val_loss: 0.0022 - val_accuracy: 0.9988
Epoch 37/100
75000/75000 [==============================] - 10s 131us/step - loss: 0.0176 - accuracy: 0.9978 - val_loss: 0.0024 - val_accuracy: 0.9987
Epoch 38/100
75000/75000 [==============================] - 10s 135us/step - loss: 0.0180 - accuracy: 0.9975 - val_loss: 0.0030 - val_accuracy: 0.9975
Epoch 39/100
75000/75000 [==============================] - 10s 137us/step - loss: 0.0177 - accuracy: 0.9976 - val_loss: 0.0018 - val_accuracy: 0.9988
Epoch 40/100
75000/75000 [==============================] - 12s 155us/step - loss: 0.0182 - accuracy: 0.9972 - val_loss: 0.0021 - val_accuracy: 0.9986
Epoch 41/100
75000/75000 [==============================] - 12s 154us/step - loss: 0.0182 - accuracy: 0.9973 - val_loss: 0.0016 - val_accuracy: 0.9986
Epoch 42/100
75000/75000 [==============================] - 13s 173us/step - loss: 0.0178 - accuracy: 0.9978 - val_loss: 0.0020 - val_accuracy: 0.9987
Epoch 43/100
75000/75000 [==============================] - 13s 172us/step - loss: 0.0176 - accuracy: 0.9976 - val_loss: 0.0018 - val_accuracy: 0.9986
Epoch 44/100
75000/75000 [==============================] - 12s 161us/step - loss: 0.0177 - accuracy: 0.9977 - val_loss: 0.0026 - val_accuracy: 0.9986
Epoch 45/100
75000/75000 [==============================] - 10s 139us/step - loss: 0.0182 - accuracy: 0.9972 - val_loss: 0.0012 - val_accuracy: 0.9989
Epoch 46/100
75000/75000 [==============================] - 9s 121us/step - loss: 0.0179 - accuracy: 0.9974 - val_loss: 0.0022 - val_accuracy: 0.9980
Epoch 47/100
75000/75000 [==============================] - 9s 118us/step - loss: 0.0175 - accuracy: 0.9979 - val_loss: 0.0023 - val_accuracy: 0.9986
Epoch 48/100
75000/75000 [==============================] - 11s 153us/step - loss: 0.0178 - accuracy: 0.9976 - val_loss: 0.0016 - val_accuracy: 0.9986
Epoch 49/100
75000/75000 [==============================] - 10s 132us/step - loss: 0.0182 - accuracy: 0.9971 - val_loss: 0.0023 - val_accuracy: 0.9984
Epoch 50/100
75000/75000 [==============================] - 10s 133us/step - loss: 0.0179 - accuracy: 0.9976 - val_loss: 0.0026 - val_accuracy: 0.9986
Epoch 51/100
75000/75000 [==============================] - 10s 131us/step - loss: 0.0178 - accuracy: 0.9979 - val_loss: 0.0031 - val_accuracy: 0.9980
Epoch 52/100
75000/75000 [==============================] - 10s 132us/step - loss: 0.0186 - accuracy: 0.9971 - val_loss: 0.0020 - val_accuracy: 0.9983
Epoch 53/100
75000/75000 [==============================] - 10s 127us/step - loss: 0.0173 - accuracy: 0.9982 - val_loss: 0.0026 - val_accuracy: 0.9975
Epoch 54/100
75000/75000 [==============================] - 10s 127us/step - loss: 0.0181 - accuracy: 0.9974 - val_loss: 0.0026 - val_accuracy: 0.9980
Epoch 55/100

75000/75000 [==============================] - 10s 131us/step - loss: 0.0179 - accuracy: 0.9974 - val_loss: 0.0017 - val_accuracy: 0.9987
Epoch 56/100
75000/75000 [==============================] - 10s 127us/step - loss: 0.0179 - accuracy: 0.9976 - val_loss: 0.0026 - val_accuracy: 0.9984
Epoch 57/100
75000/75000 [==============================] - 9s 118us/step - loss: 0.0179 - accuracy: 0.9976 - val_loss: 0.0018 - val_accuracy: 0.9986
Epoch 58/100
75000/75000 [==============================] - 8s 111us/step - loss: 0.0180 - accuracy: 0.9974 - val_loss: 0.0015 - val_accuracy: 0.9988
Epoch 59/100
75000/75000 [==============================] - 8s 110us/step - loss: 0.0176 - accuracy: 0.9979 - val_loss: 0.0016 - val_accuracy: 0.9986
Epoch 60/100
75000/75000 [==============================] - 8s 108us/step - loss: 0.0183 - accuracy: 0.9971 - val_loss: 0.0020 - val_accuracy: 0.9986
Epoch 61/100
75000/75000 [==============================] - 10s 129us/step - loss: 0.0175 - accuracy: 0.9981 - val_loss: 0.0017 - val_accuracy: 0.9985
Epoch 62/100
75000/75000 [==============================] - 11s 142us/step - loss: 0.0180 - accuracy: 0.9976 - val_loss: 0.0015 - val_accuracy: 0.9988
Epoch 63/100
75000/75000 [==============================] - 12s 159us/step - loss: 0.0177 - accuracy: 0.9979 - val_loss: 0.0026 - val_accuracy: 0.9981
Epoch 64/100
75000/75000 [==============================] - 13s 168us/step - loss: 0.0180 - accuracy: 0.9974 - val_loss: 0.0023 - val_accuracy: 0.9984
Epoch 65/100
75000/75000 [==============================] - 12s 163us/step - loss: 0.0177 - accuracy: 0.9976 - val_loss: 0.0017 - val_accuracy: 0.9988
Epoch 66/100
75000/75000 [==============================] - 11s 143us/step - loss: 0.0177 - accuracy: 0.9978 - val_loss: 0.0014 - val_accuracy: 0.9986
Epoch 67/100
75000/75000 [==============================] - 9s 121us/step - loss: 0.0178 - accuracy: 0.9976 - val_loss: 0.0023 - val_accuracy: 0.9984
Epoch 68/100
75000/75000 [==============================] - 9s 114us/step - loss: 0.0178 - accuracy: 0.9977 - val_loss: 0.0020 - val_accuracy: 0.9977
Epoch 69/100
75000/75000 [==============================] - 8s 110us/step - loss: 0.0181 - accuracy: 0.9974 - val_loss: 0.0028 - val_accuracy: 0.9979
Epoch 70/100
75000/75000 [==============================] - 8s 109us/step - loss: 0.0185 - accuracy: 0.9971 - val_loss: 0.0027 - val_accuracy: 0.9972
Epoch 71/100
75000/75000 [==============================] - 8s 110us/step - loss: 0.0183 - accuracy: 0.9971 - val_loss: 0.0022 - val_accuracy: 0.9986
Epoch 72/100
75000/75000 [==============================] - 8s 113us/step - loss: 0.0181 - accuracy: 0.9974 - val_loss: 0.0022 - val_accuracy: 0.9978
Epoch 73/100
75000/75000 [==============================] - 9s 121us/step - loss: 0.0176 - accuracy: 0.9978 - val_loss: 0.0021 - val_accuracy: 0.9982
Epoch 74/100
75000/75000 [==============================] - 9s 126us/step - loss: 0.0181 - accuracy: 0.9974 - val_loss: 0.0025 - val_accuracy: 0.9985
Epoch 75/100
75000/75000 [==============================] - 10s 131us/step - loss: 0.0186 - accuracy: 0.9970 - val_loss: 0.0019 - val_accuracy: 0.9984
Epoch 76/100
75000/75000 [==============================] - 10s 133us/step - loss: 0.0179 - accuracy: 0.9975 - val_loss: 0.0018 - val_accuracy: 0.9983
Epoch 77/100
75000/75000 [==============================] - 10s 128us/step - loss: 0.0181 - accuracy: 0.9974 - val_loss: 0.0041 - val_accuracy: 0.9976
Epoch 78/100
75000/75000 [==============================] - 10s 127us/step - loss: 0.0185 - accuracy: 0.9972 - val_loss: 0.0015 - val_accuracy: 0.9990
Epoch 79/100
75000/75000 [==============================] - 9s 122us/step - loss: 0.0185 - accuracy: 0.9971 - val_loss: 0.0017 - val_accuracy: 0.9989
Epoch 80/100
75000/75000 [==============================] - 9s 125us/step - loss: 0.0185 - accuracy: 0.9968 - val_loss: 0.0011 - val_accuracy: 0.9990
Epoch 81/100
75000/75000 [==============================] - 9s 123us/step - loss: 0.0185 - accuracy: 0.9970 - val_loss: 0.0016 - val_accuracy: 0.9986
Epoch 82/100
75000/75000 [==============================] - 9s 126us/step - loss: 0.0182 - accuracy: 0.9974 - val_loss: 0.0019 - val_accuracy: 0.9986
Epoch 83/100
75000/75000 [==============================] - 9s 118us/step - loss: 0.0199 - accuracy: 0.9952 - val_loss: 0.0020 - val_accuracy: 0.9983
Epoch 84/100
75000/75000 [==============================] - 10s 134us/step - loss: 0.0185 - accuracy: 0.9969 - val_loss: 0.0023 - val_accuracy: 0.9983
Epoch 85/100
75000/75000 [==============================] - 10s 136us/step - loss: 0.0183 - accuracy: 0.9972 - val_loss: 0.0020 - val_accuracy: 0.9987
Epoch 86/100
75000/75000 [==============================] - 10s 139us/step - loss: 0.0188 - accuracy: 0.9967 - val_loss: 0.0030 - val_accuracy: 0.9979
Epoch 87/100
75000/75000 [==============================] - 10s 131us/step - loss: 0.0183 - accuracy: 0.9972 - val_loss: 0.0025 - val_accuracy: 0.9986
Epoch 88/100
75000/75000 [==============================] - 9s 121us/step - loss: 0.0180 - accuracy: 0.9974 - val_loss: 0.0017 - val_accuracy: 0.9984
Epoch 89/100
75000/75000 [==============================] - 9s 117us/step - loss: 0.0184 - accuracy: 0.9969 - val_loss: 0.0025 - val_accuracy: 0.9983
Epoch 90/100
75000/75000 [==============================] - 9s 117us/step - loss: 0.0183 - accuracy: 0.9971 - val_loss: 0.0029 - val_accuracy: 0.9979
Epoch 91/100
75000/75000 [==============================] - 8s 111us/step - loss: 0.0189 - accuracy: 0.9966 - val_loss: 0.0016 - val_accuracy: 0.9986
Epoch 92/100
75000/75000 [==============================] - 9s 122us/step - loss: 0.0181 - accuracy: 0.9974 - val_loss: 0.0018 - val_accuracy: 0.9985
Epoch 93/100
75000/75000 [==============================] - 9s 124us/step - loss: 0.0185 - accuracy: 0.9970 - val_loss: 0.0013 - val_accuracy: 0.9989
Epoch 94/100
75000/75000 [==============================] - 9s 123us/step - loss: 0.0180 - accuracy: 0.9977 - val_loss: 0.0018 - val_accuracy: 0.9986
Epoch 95/100
75000/75000 [==============================] - 9s 120us/step - loss: 0.0190 - accuracy: 0.9967 - val_loss: 0.0029 - val_accuracy: 0.9982
Epoch 96/100
75000/75000 [==============================] - 9s 116us/step - loss: 0.0184 - accuracy: 0.9972 - val_loss: 0.0022 - val_accuracy: 0.9984
Epoch 97/100
75000/75000 [==============================] - 9s 114us/step - loss: 0.0185 - accuracy: 0.9969 - val_loss: 0.0023 - val_accuracy: 0.9984
Epoch 98/100
75000/75000 [==============================] - 8s 111us/step - loss: 0.0185 - accuracy: 0.9971 - val_loss: 0.0038 - val_accuracy: 0.9985
Epoch 99/100
75000/75000 [==============================] - 9s 116us/step - loss: 0.0180 - accuracy: 0.9976 - val_loss: 0.0020 - val_accuracy: 0.9986
Epoch 100/100
75000/75000 [==============================] - 9s 120us/step - loss: 0.0189 - accuracy: 0.9966 - val_loss: 0.0018 - val_accuracy: 0.9983

In [69]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_10 (Conv2D)           (None, 3, 4, 256)         4352
_________________________________________________________________
activation_19 (Activation)   (None, 3, 4, 256)         0
_________________________________________________________________
conv2d_11 (Conv2D)           (None, 2, 3, 64)          65600
_________________________________________________________________
activation_20 (Activation)   (None, 2, 3, 64)          0
_________________________________________________________________
flatten_7 (Flatten)          (None, 384)               0
_________________________________________________________________
dense_16 (Dense)             (None, 64)                24640
_________________________________________________________________
dropout_4 (Dropout)          (None, 64)                0
_________________________________________________________________
activation_21 (Activation)   (None, 64)                0
_________________________________________________________________
dense_17 (Dense)             (None, 32)                2080
_________________________________________________________________
dropout_5 (Dropout)          (None, 32)                0
_________________________________________________________________
activation_22 (Activation)   (None, 32)                0
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 33
=================================================================
Total params: 96,705
Trainable params: 96,705
Non-trainable params: 0
_________________________________________________________________

In [70]:
model.save("../Model/100000_RR_256x4_64x2_32x2_64_32_dropout.h5")

# check

In [9]:
NNA_Random_32x2_32x2_32_32 = (pd
                            .read_csv("../Game_results/NN_A_Random_100_1589158063_100000_RR_32x2_32x2_32_32.csv", 
                                                                  names = ["t"]))
NNA_Random_32x2_32x2_32_32["c"] = 1
NNA_Random_32x2_32x2_32_32.groupby("t").count()

     c
t
-1  36
 1  64

In [10]:
Random_NNA_32x2_32x2_32_32 = (pd
          .read_csv("../Game_results/Random_NN_A_100_1589159855_100000_RR_32x2_32x2_32_32.csv", names = ["t"]))
Random_NNA_32x2_32x2_32_32["c"] = 1
Random_NNA_32x2_32x2_32_32.groupby("t").count()

     c
t
-1  56
 1  44

In [11]:
result3 = pd.read_csv("../Game_results/NN_A_Random_100_1589162804_100000_RR_32x2_32x2_32x2_32_32_32.csv", 
                     names = ["t"])
result3["c"] = 1
result3.groupby("t").count()

     c
t
-1  25
 1  75

In [12]:
result4 = pd.read_csv("../Game_results/Random_NN_A_100_1589164289_100000_RR_32x2_32x2_32x2_32_32_32.csv", 
                     names = ["t"])
result4["c"] = 1
result4.groupby("t").count()

     c
t
-1  70
 1  30

In [13]:
result5 = pd.read_csv("../Game_results/NN_A_Random_100_1589166730100000_RR_64x2_64.csv", names = ["t"])
result5["c"] = 1
result5.groupby("t").count()

     c
t
-1   5
 1  95

In [14]:
result6 = pd.read_csv("../Game_results/Random_NN_A_100_1589167262_100000_RR_64x2_64.csv", names = ["t"])
result6["c"] = 1
result6.groupby("t").count()

     c
t
-1  92
 1   8

In [15]:
result7 = pd.read_csv("../Game_results/NN_A_Random_100_1589167501_100000_RR_64x2_64x2_64_64.csv", names = ["t"])
result7["c"] = 1
result7.groupby("t").count()

     c
t
-1  27
 1  73

In [16]:
result8 = pd.read_csv("../Game_results/Random_NN_A_100_1589167545100000_RR_64x2_64x2_64_64.csv", names = ["t"])
result8["c"] = 1
result8.groupby("t").count()

     c
t
-1  71
 1  29

In [17]:
result9 = pd.read_csv("../Game_results/NN_A_Random_100_1589168923100000_RR_128x4_32x2_64_32.csv", names = ["t"])
result9["c"] = 1
result9.groupby("t").count()

     c
t
-1  21
 1  79

In [18]:
result10 = pd.read_csv("../Game_results/Random_NN_A_100_1589168930100000_RR_128x4_32x2_64_32.csv", names = ["t"])
result10["c"] = 1
result10.groupby("t").count()

     c
t
-1  81
 1  19

In [21]:
result11 = pd.read_csv("../Game_results/NN_A_Random_100_1589171017100000_RR_256x4_64x2_32x2_64_32.csv", 
                     names = ["t"])
result11["c"] = 1
result11.groupby("t").count()

     c
t
-1  21
 1  79

In [22]:
result12 = pd.read_csv("../Game_results/Random_NN_A_100_1589171026100000_RR_256x4_64x2_32x2_64_32.csv", 
                     names = ["t"])
result12["c"] = 1
result12.groupby("t").count()

     c
t
-1  82
 1  18

In [3]:
result13 = pd.read_csv("../Game_results/NN_Random_100_1589214635100000_RR_256x4_64x2_32x2_64_32_dropout_.csv", 
                     names = ["t"])
result13["c"] = 1
result13.groupby("t").count()

     c
t
-1  22
 1  78

In [4]:
result14 = pd.read_csv("../Game_results/Random_NN_100_1589215369100000_RR_256x4_64x2_32x2_64_32_dropout_.csv", 
                     names = ["t"])
result14["c"] = 1
result14.groupby("t").count()

     c
t
-1  79
 1  21

## Compare

In [5]:
resultNM = pd.read_csv("../Game_results/NN_MonteCarlo_10_1589220530.csv", 
                     names = ["t"])
resultNM["c"] = 1
resultNM.groupby("t").count()

     c
t
-1  10

In [8]:
resultQM = pd.read_csv("../Game_results/QL_MonteCarlo_10_1589221208.csv", 
                     names = ["t"])
resultQM["c"] = 1
resultQM.groupby("t").count()

     c
t
-1  10

In [6]:
resultNQ = pd.read_csv("../Game_results/NN_QL_100_1589220367.csv", 
                     names = ["t"])
resultNQ["c"] = 1
resultNQ.groupby("t").count()

     c
t
-1  10
 1  90

In [7]:
resultQN = pd.read_csv("../Game_results/QL_NN_100_1589220367.csv", 
                     names = ["t"])
resultQN["c"] = 1
resultQN.groupby("t").count()

     c
t
-1  87
 1  13

In [9]:
resultRN = pd.read_csv("../Game_results/Random_NN_100_1589223491.csv", 
                     names = ["t"])
resultRN["c"] = 1
resultRN.groupby("t").count()

     c
t
-1  90
 1  10

In [10]:
resultNR = pd.read_csv("../Game_results/NN_Random_100_1589223491.csv", 
                     names = ["t"])
resultNR["c"] = 1
resultNR.groupby("t").count()

     c
t
-1   9
 1  91

In [11]:
resultRQ = pd.read_csv("../Game_results/Random_QL_100_1589223491.csv", 
                     names = ["t"])
resultRQ["c"] = 1
resultRQ.groupby("t").count()

     c
t
-1  46
 0   2
 1  52

In [12]:
resultQR = pd.read_csv("../Game_results/QL_Random_100_1589223491.csv", 
                     names = ["t"])
resultQR["c"] = 1
resultQR.groupby("t").count()

     c
t
-1  48
 0   1
 1  51

In [13]:
resultRM = pd.read_csv("../Game_results/Random_MonteCarlo_10_1589223555.csv", 
                     names = ["t"])
resultRM["c"] = 1
resultRM.groupby("t").count()

     c
t
-1  10

In [42]:
# Random_NN_A_100_1589146739.csv
result.groupby("t").count()

     c
t
-1  61
 0   1
 1  38

In [40]:
# NN_A_Random_100_1589146596.csv
result.groupby("t").count()

     c
t
-1  32
 0   1
 1  67

In [38]:
# Random_NN_B_100_1589146690.csv
result.groupby("t").count()

     c
t
-1  86
 1  14

In [35]:
# NN_B_Random_100_1589146615
result.groupby("t").count()

     c
t
-1   7
 1  93

# Upload Model

In [ ]:
from keras.models import Sequential, load_model

In [ ]:
load_model(model_path)